<mat-drawer-container>
    <mat-toolbar>
        <button mat-icon-button type="button" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-mini-fab color="primary" type="button" matTooltip="Add a new note" (click)="createNote('1', '1')">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>

    <mat-drawer #drawer mode="push">
    </mat-drawer>

    <p>{{test}}</p>

    <div class="content-wrapper">
        <div class="mat-card-display" *ngFor="let n of notes">
            <mat-card>
                <mat-card-title>{{n.title}}</mat-card-title>
                <mat-card-content>{{n.content}}</mat-card-content>
            </mat-card>
        </div>
    </div>
</mat-drawer-container>