<mat-drawer-container>
    <mat-toolbar>
        <button mat-icon-button type="button" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-mini-fab color="primary" type="button">
            <mat-icon>add</mat-icon>
        </button>
    </mat-toolbar>

    <mat-drawer #drawer mode="push">
    </mat-drawer>

    <div class="content-wrapper">
        <app-note></app-note>

        <mat-card>
            <mat-card-title>
                <mat-form-field appearance="fill">
                    <mat-label>Add a title</mat-label>
                    <input #inputTitle type="text" matInput>
                </mat-form-field>
            </mat-card-title>

            <mat-card-content>
                <mat-form-field appearance="fill">
                    <mat-label>Write something</mat-label>
                    <textarea #textAreaContent matInput></textarea>
                </mat-form-field>
            </mat-card-content>

            <button mat-raised-button color="primary" (click)="addNote(inputTitle.value, textAreaContent.value)">Add Note</button>
        </mat-card>

        <div *ngFor="let note of note">
            <pre>{{note}}</pre>
        </div>

        <pre>{{test}}</pre>
    </div>
</mat-drawer-container>